on:
  # schedule:
  #   - cron: '0 23 * * *'
  workflow_dispatch:

name: automation_test

jobs:
  build_catalog:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      GIT_SECRET: ${{ secrets.GIT_PAT }}
      LAKE_REPO_GH_PAT: ${{ secrets.LAKE_REPO_ACCESS }}
      #OSN_KEY: ${{ secrets.OSN_KEY }}
      #OSN_SECRET: ${{ secrets.OSN_SECRET }}
    container:
      #image: eco4cast/rocker-neon4cast:latest
      image: rocker/ml-verse
      options: --memory 15120m
    steps:
      - run: git config --system --add safe.directory '*'

      - name: checkout source repository
        uses: actions/checkout@v4
        with:
           fetch-depth: 0
           set-safe-directory: '*'

      # - name: clone lake repository
      #   uses: actions/checkout@v4
      #   with:
      #     repository: 'ecoforecastVT/YARR-forecast'
      #     token: ${GIT_SECRET}
      #     path: './YARR-forecast'

      - name: clone lake repository
        run: |
          git clone --depth 1 https://${GIT_SECRET}@github.com/ecoforecastVT/YARR-forecast.git ../YARR-forecast


      - name: Make small file
        run: date >> workflow_updated.txt

      - name: Commit and Push
        run: |
          git pull
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add workflow_updated.txt
          git commit -a -m "keeping automation" || echo "nothing to commit"
          git push https://${GITHUB_PAT}:${GITHUB_PAT}@github.com/${GITHUB_REPOSITORY}

